@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: 'Cairo', sans-serif;
    background-color: #fcfcfd;
    color: #1a1a1a;
  }
}

@layer components {
  .glass-card {
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 10px;
  }
  
  .pro-shadow {
    box-shadow: 0 10px 25px -5px rgba(0, 0, 0, 0.04), 0 8px 10px -6px rgba(0, 0, 0, 0.04);
  }
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
